.home {
  @apply bg-[#ffe0c5] h-[100%] w-[100%];
}
.house {
  @apply font-extralight text-[#ff6c89] 
text-justify;
  font-size: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.houses {
  @apply h-9;
  max-width: fit-content;
}

.purpose {
  @apply font-extralight;
  margin-left: 40rem;
  gap: 2rem;
  color: #333;
  max-width: 35rem;
  font-size: 2rem;
  font-weight: 300;
}
.explore {
  @apply bg-white;
  border-radius: 50rem;
  height: 3rem;
  width: 15rem;
  display: flex;
  margin-left: 47rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: large;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 6rem;
}
.explore:hover {
  @apply cursor-pointer bg-rose-400;
}

.globe {
  @apply h-5;
}
.houses {
  @apply flex;
  height: 20rem;
}
.second-section {
  @apply bg-[#3c0576];
}
.discovery {
  @apply font-extralight;
  font-size: 2rem;
  color: #ff6c89;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40rem;
  max-width: 21rem;
}
.event {
  @apply bg-violet-500;
  height: 10rem;
  width: 10rem;
  margin-left: 30rem;
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  padding-left: 4rem;
}
.world {
  @apply text-purple-500 font-extralight;
  font-size: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.browse {
  @apply text-amber-400 flex items-center justify-center;
  font-size: 2rem;
  font-weight: 200;
}
.country-button {
  @apply flex items-center justify-center gap-2 font-semibold mt-10;
}
.europe {
  @apply bg-white h-10 w-24;
  border-radius: 10rem;
}
.oceania {
  @apply bg-white h-10 w-24;
  border-radius: 10rem;
}
.events {
  @apply flex items-center justify-center gap-8 font-thin text-amber-400 pt-6;
}
.event-browse {
  @apply h-40 w-32  pt-6 pl-3 bg-purple-400;
  background-color: rgb(99 50 133);
  border-radius: 1rem;
}
.event-product {
  @apply h-40 w-32 pt-6 pl-3;
  background-color: rgb(99 50 133);
  border-radius: 1rem;
}
.event-project {
  @apply h-40 w-32  pt-6 pl-3;
  background-color: rgb(99 50 133);
  border-radius: 1rem;
}
.countries {
  @apply flex  flex-wrap mx-auto gap-10 mt-28 justify-center items-center max-w-[45%];
}
.country {
  @apply flex flex-col justify-center items-center max-w-[50%];
}

.flag {
  @apply rounded-full h-10;
}
.country-name {
  @apply text-5xl font-extralight;
  color: #ff6c89;
}
.capital {
  @apply text-base;
  color: #ffe0c5;
}
