@import url(/garnett-font-family/font.css);
@tailwind base;
@tailwind components;
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  font-family: "Garnett-Regular";
}
@tailwind utilities;
